ListView {
    opacity: 0;
}

.contact-container {
    padding: 50px 30px;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.icon-button{
    background-color: #CB1D00;
    color: white;
    width: 60px;
    height: 40px;
}

.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
}
